/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.dashboard .dash-content{
    padding-top: 50px;
}
.dash-content .title{
    display: flex;
    align-items: center;
    margin: 10px 0 10px 0;
}
.dash-content .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.dash-content .title .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}
.dash-content .cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dash-content .cards .card{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: calc(100% / 3 - 65px);
    padding: 15px 20px;
    background-color: var(--box1-color);
    transition: var(--tran-05);
}
.card {
    margin: 20px;
    padding: 20px;
    width: 150px;
    min-height: 100px;
    display: grid;
    text-align: center;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 40px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }
  
  .card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
  

.cards .card i{
    font-size: 35px;
    color: white;
}
.cards .card .text{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: white;
}
.cards .card .number{
    font-size: 20px;
    font-weight: 500;
    color: white;
}
.card-1 {
    background: radial-gradient(#1f1d34, #1f1d34);
    
  }
  
  .card-2 {
    background: radial-gradient(#3ff51f, #3ffe68);
    
  }
  
  .card-3 {
    background: radial-gradient(#ff0000, #ff0000);
  }
.dash-content .activity .card-body{
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 0.9em;
    min-width: 200px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

@media (max-width: 400px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
  .sidebar{
    width: 78px;
  }
  .sidebar.close{
    width: 0;
  }
  .home-section{
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
  }
  .sidebar.close ~ .home-section{
    width: 100%;
    left: 0;
  }
}